- unless current_user
  .row
    .col-sm-8.col-sm-offset-2
      = render partial: 'sign_in'

  .row
    .col-sm-8.col-sm-offset-2
      = render partial: 'sign_up'

.row
  .col-sm-8.col-sm-offset-2
    %h3 Featured Books

.row
  .col-sm-8.col-sm-offset-2
    = render partial: 'books/list', locals: { books: Book.featured }
