.row
  .col-xs-1.handle
    %i.fa.fa-arrows-v
  .col-xs-1
    = image_tag page.image_url(1)
  .col-xs-8.page-text
    = page.text
  .col-xs-2
    = link_to 'View', user_book_page_path(page.book.author, page.book, page), class: 'btn btn-warning'
