.book-list
  - books.each do |book|
    .book-covers
      %h4= book.title
      = link_to image_tag(book.cover_page.image_url(5)), user_book_path(book.user, book)

      - if book.user == current_user
        .edit-double Edit
        = link_to 'Edit', edit_user_book_path(book.user, book), class: 'btn btn-warning'
