.row
  .col-sm-8.col-sm-offset-2
    %h3
      = @user == current_user ? "My Books" : "@#{@user.username}'s Books"

.row
  .col-sm-8.col-sm-offset-2
    = render partial: 'list', locals: { books: @books }

- if @user == current_user
  .row.new-book
    .col-sm-8.col-sm-offset-2
      = link_to 'Create a New Book', new_user_book_path(@user), class: 'btn btn-warning'
