body {
  background-image: image-url("fabric_plaid.png");
  font-family: 'Open Sans', sans-serif;
}

.alert { text-align: center; }
.last-row { margin-bottom: 30px; }
textarea { resize: vertical; }

nav.navbar {
  background-image: image-url("low_contrast_linen.png");
  border: none;
  border-radius: 0;
  img { max-height: 100%; }
  .navbar-header {
    a.navbar-brand {
      font-family: 'Permanent Marker', cursive;
      font-size: 1.5em;
      color: white;
      &:hover { color: lightgray; }
    }
  }
  .navbar-right {
    font-size: 0.9em;
    a {
      color: white;
      &:hover { color: lightgray; }
    }
  }
}
