.controller-pages {
  input, button, .btn { width: 100%; }
  button { margin-top: 10px; }
  .page-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .page-arrow {
    margin-left: 50%;
    margin-right: 50%;
    a {
      color: #333333;
    }
  }
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .photo-carousel {
    display: flex;
    align-items: center;
  }
  .page-number {
    position: absolute;
    bottom: 5px;
    right: 30px;
  }

  &.action-new {
    h4 { margin-top: 30px; }
  }
  &.action-show {
    .btn {
      width: 33%;
      margin-top: 10px;
    }
    .page-text { white-space: pre-line; }
  }
  &.action-index {
    h3 { margin-bottom: 20px; }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        padding: 6px 19px;
        height: 68px;
        .handle {
          padding: 20px 15px 10px 15px;
          cursor: pointer;
        }
        img {
          margin-left: 0;
          height: 55px;
          width: 55px;
        }
        .page-text {
          padding: 18px 15px 0 30px;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .btn { margin-top: 10px; }
      }
    }
  }
}
