%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"}
        PictureBookMyLife
    %ul.nav.navbar-nav.navbar-right.hidden-xs
      - if current_user
        %li
          = link_to "my books", user_books_path(current_user)
        %li
          = link_to "log out, #{current_user.username}", destroy_user_session_path, method: :delete
      - else
        %li
          = link_to "sign in", root_path
